<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <!-- File appender for logging to a file -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${TOPJAVA_ROOT}/log/topjava.log</file>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %-5level %logger{50}.%M:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Console appender for logging to the console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan(%class{50}.%M:%L) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Loggers for specific packages -->
    <logger name="ru.javawebinar.topjava" level="debug"/>
    <logger name="org.springframework.web.servlet" level="debug"/>

    <!-- Add debug level logging for JDBC and transaction management -->
    <logger name="org.springframework.jdbc" level="debug"/>
    <logger name="org.springframework.transaction" level="debug"/>

    <!-- Root logger configuration -->
    <root level="info">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </root>
</configuration>